body{
  margin-left: 15px;
  font-size: 14px;
  font-family: Roboto, Arial, sans-serif;
}

.greyed {
  color:rgb(96, 96, 96);
  font-size: 13px;
}


header {
  display: inline-flex;
	background-color: white;
	height: 56px;
	width: 100%;
	padding: 5px 0;
	margin-bottom: 10px;
	z-index: 99;
  padding: 20px;
}

section.main {
    width: 65%;
    padding: 0 1rem;
}

aside.aside {
    padding-left: 10px;
}

.aside-headline {
  font-size: 16px;
  display:block;
  margin-bottom:12px;
}

.video-box {
    display: flex;
    margin-top: 1rem;
}

.video-box.pinned {
    padding-bottom: 15px;
    border-bottom: 1px solid #eaeaea;
}

.video-info {
    padding-left: 10px;
}

.video-info span.title {
    font-weight: 500;
    font-size: 14px;
}

.video-box img {
    width: 100%;
    height: 100%;
}

.video-info span {
  display:block;
  margin-bottom:4px;
}

.left-side {
  display: inline-flex;
  background: white;
  width: 20%;
  height: 100%;
}

.right-side {
  display: inline;
  background: white;
  width: 20%;
  height: 100%;
}

.center input{
  height: 30px;
  width: 70%;
}
.center button{
  width: auto;
  height: 30px;
}
.center{
  width: 60%;
  height: 100%;
  display: inline;
  background: white;
  margin-left: 50px;
  margin-top: 15px;
}
header img{
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

.main-content {
  display:flex;
  /*display: inline;*/
}
.main-content .col-2-3{
  width: 70%;
}

.main-content iframe{
  height: 500px;
  width: 100%;
  border: solid;
  margin-bottom: 20px;

}
h2{
  font-size: 1.5em;
}
ul{
  position: relative;
  list-style-type: none;
  margin-left: 1.5em;
}
li{
  margin-bottom: 10px;
}
.description .left p{
  display: inline;
  float: left;
}

img[alt=player-buttons] {
  float: right;
  display: inline;
  width: 40%;
  height: 1.8em;
}
#des{
  margin-bottom: 10px;
}
#user_pic{
  margin-top: 20px;
  float: left;
}

img[alt=youtube-logo] {
  width: 50%;
  height: 1.8em;
  padding-top: 10px;
}
#desc{
  font-size: 1.5em;
  line-height: 2.4rem;
}

div section section span {
  padding-top: 5px;
}

div section span img {
  float: right;
}

body > div > section > section {
  padding-top: 10px;
}

.video-des{
  padding-top: 1.5rem;
  margin-top: 20px;
  text-align: left;
  border-top: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  padding-bottom: 15px;
}
.video-des p{
  padding-left: 2rem;
  padding-right: 5rem;

}
.channel-description{
  display: inline;
  padding-top: 0px;

}
.channel-description span{
  vertical-align: super;
}
.channel-description button{
  background: red;
  float: right;
  color: white;
  text-transform: uppercase;
}
.comments span.num{
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 2rem;
  padding-top: 5px;
}
.inter-comment{
  display: flex;
}
.inter-comment img{
  padding-top: 20px;
  float: left;
}
.comments .inter-comment input{
  width: 100%;
  height: 15px;
  margin-left: 15px;
  margin-top: 2rem;
  float: left;
}

.user-comment {
  padding-top: 1.5rem;
}

.user-comment span.title {
    font-weight: 500;
    font-size: 14px;
    padding-left: 10px;
    vertical-align: super;
}

.user-comment span.post-date {
    font-weight: 300;
    font-size: 14px;
    color: #606060;
}

.text-comment{
  display: block;
  font-weight: 300;
  padding-left: 2.4rem;
}

#last{
  padding-bottom: 20px;
}
