body{
  margin-left: 15px;
}
header {
  display: inline-flex;
	background-color: white;
	height: 56px;
	width: 100%;
	padding: 5px 0;
	position: fixed;
	margin-bottom: 10px;
	z-index: 99;
  margin-bottom: 50px;
  padding: 20px;

}

.left-side {
  display: inline;
  background: white;
  width: 20%;
  height: 100%;
}

.right-side {
  display: inline;
  background: white;
  width: 20%;
  height: 100%;
}

.center input{
  height: 30px;
  width: 70%;
}
.center button{
  width: auto;
  height: 30px;
}
.center{
  width: 60%;
  height: 100%;
  display: inline;
  background: white;
  margin-left: 50px;
  margin-top: 15px;
}
img{
  width: 42px;
  height: 42px;
  margin-left: 10px;
}

.main-content {
  margin-left: 20px;
  width: 100%;
  /*display: inline;*/
}
.main-content .col-2-3{
  width: 70%;
}

.main-content iframe{
  height: 500px;
  width: 100%;
  border: solid;
  margin-bottom: 20px;

}
h2{
  font-size: 1.5em;
}
ul{
  position: relative;
  list-style-type: none;
  margin-left: 1.5em;
}
li{
  margin-bottom: 10px;
}
.description .left p{
  display: inline;
  float: left;
}

img[alt=player-buttons] {
  float: right;
  display: inline;
  width: 40%;
  height: 1.8em;
}

.description {
  border-bottom: 1px solid black
}
